* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
  }
  
  img {
    max-width: 100%;
  }

  .main-nav {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
  }
  .main-nav > li {
    flex: 0 1 5em;
    text-align: center;
  }